/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.overlay{
    background-color: rgba(0,0,0, 0.5) !important;
    position:fixed !important;
    top:0 !important;
    z-index: 999;
    left:0 !important;
    width: 100% !important;
    height: 100%;
}

div.modalRemove > .modal-dialog{
  max-width: 40%!important;
}

div.modal {
    height: 95%;
    z-index: 999;
    color: #000;
    animation:movercaja 0.4s ease-out forwards;
    top:10%;
}
div.modal > .modal-dialog{
  max-width: 80%;
}
div.modal > .modal-dialog > .modal-content > .modal-body{
  max-height: 600px;overflow-y: scroll;
}
